Flask
Redis
gunicorn
prometheus_client
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-redis
jaraco.context>=6.1.2
wheel>=0.46.2
